// Misago variables and overrides
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.


// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-caret:              false !default;


// Icons
//
// Default sizings for icons. Note: Material Icons were designed for 24px size and
// look poorly when rendered in size thats not multiple of 12px.

$icon-size-base:              24px !default;
$icon-size-lg:                ($icon-size-base * 2) !default; // twice the base size
$icon-size-sm:                ($icon-size-base / 2) !default; // half the base size


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  xl: 1440px // bump max width to 1440px
) !default;


// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-min-width:                18rem !default;
