{% load i18n %}
<footer class="misago-footer py-4">
  <div class="container">
    <div class="misago-footer-content">
      <div class="row align-items-center">
        <div class="col-md-10 text-center text-md-left">
          {% if privacy_policy or terms_of_service %}
            <ul class="list-inline">
              {% if terms_of_service %}
                <li class="list-inline-item">
                  <a href="{% url 'misago:terms-of-service' %}">{% trans "Terms of service" %}</a>
                </li>
              {% endif %}
              {% if privacy_policy %}
                <li class="list-inline-item">
                  <a href="{% url 'misago:privacy-policy' %}">{% trans "Privacy policy" %}</a>
                </li>
              {% endif %}
            </ul>
          {% endif %}
          {% if misago_settings.forum_footnote %}
            <div>
              {{ misago_settings.forum_footnote }}
            </div>
          {% endif %}
        </div>
        <div class="col-md-2 text-center text-md-right">
          <a href="http://misago-project.org" class="misago-branding">
            misago
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
